[[source]]
url = "https://mirrors.sustech.edu.cn/pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
scipy = "*"
matplotlib = "*"
numpy = "*"
ipykernel = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.11"
